@font-face {
    font-family: 'Inter';
    src: url('../../../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    // font-weight: 100 900;
    // font-stretch: 75% 125%;
}

.body{
    font-family: 'Inter';
    background-color:#C70D8F;
    height: 100vh;
    
}
main{
    background-color: #939393;
    
}



header{
    background-color: #120D0D;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.main-container{
    height: 650px;
}
// ====================== header =====================
header{
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-title{
    text-align: center;
}
#menu-bg{
    background-color: rgb(187, 19, 56);
    width: 80px;
    font-size: 50px;
    text-align: center;
    &:hover{
        cursor: pointer;
        color: rgb(37, 85, 173);
    }
}
// ====================== sidebar ====================
aside{
    margin: 0px;
    padding: 0 !important;
}
#sidebar-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 200px;
}
.img-box{
    border-radius: 50%;
}
#profile-avatar-box{
    width: 72px;
    height: 72px;
    background-color: white;
}
#profilr-avatar{
    width: inherit;
    height: inherit;
}

.search-box{
    border-radius: 30px;
    // margin-bottom: 20px;
}
#search{
    // width: 100%;
    background-color: #B2B0B8;
    border-radius: 0 10px 10px 0;
    color: white;
    &::placeholder{
        color: white;
    }
}
#search-label{
    background-color: #B2B0B8;
    border-radius: 10px 0 0 10px;
    color: white;
}
.options{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100px;
}

.active{
    background-color: #0AF7FF;
}
.sidebar{
    background-color: #D9D9D9;
    & #close-mobile-menu{
        display: none;
    }
}
.mobile{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 650px;
    animation: moveBox 1s forwards;
    & p{
        display: flex;
        align-items: center;
        font-size: 40px;
        border-radius:20px 0 0 20px ;
        background-color: white;
        width: 30%;
        color: red;
        height: 40px;
    }
    & #close-mobile-menu{
        display: flex;
        justify-content:end;
        width: 100%;
        text-align: end;
    }
    
}.sidebar{
    background-color: #D9D9D9;
    height: 650px;
}
.mobile{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 650px;
    animation: openMenu 1s forwards ;
    & p{
        display: flex;
        align-items: center;
        font-size: 40px;
        border-radius:20px 0 0 20px ;
        background-color: rgb(233, 253, 253);
        width: 30%;
        color: rgb(228, 25, 143);
        height: 40px;
    }
    & #close-mobile-menu{
        display: flex;
        justify-content:end;
        width: 100%;
        text-align: end;
    }
}
@keyframes openMenu {
    0% {
        left: -100vh;
    }
    100% {
        left: calc(0); /* Moves the box to the center */
    }
}
@keyframes closeMenu {
    0% {
        left: calc(0); /* Moves the box to the center */
    }
    100% {
        left: -100vh;
        
    }
}